.flex {
	display: flex;
	flex: 1 1 auto;
}

.flex-row {
	@extend .flex;
	flex-direction: row;
}

.flex-col {
	@extend .flex;
	flex-direction: column;
	align-items: center;
}

div {
	margin: 10px;
}

h2 {
	margin: 0px;
}

mat-form-field {
	margin-left: 4px;
}
