<div class="flex-col">
	<div>
		<h2>{{ title }}</h2>
	</div>
	<div class="flex-row">
		<mat-form-field>
			<mat-label>Filter</mat-label>
			<input matInput [ngModel]="''" (ngModelChange)="filterChange($event)" />
		</mat-form-field>

		<mat-form-field>
			<mat-label>Columns</mat-label>
			<mat-select [(ngModel)]="visibleColumns" multiple>
				<mat-option *ngFor="let column of columns" [value]="column">{{
					column
				}}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div>
		<kendo-grid
			[data]="sortedBooks"
			[reorderable]="true"
			[sortable]="true"
			[sort]="sort"
			(sortChange)="gridSortChange($event)"
		>
			<kendo-grid-column
				field="author"
				title="Author"
				[hidden]="!visibleColumns.includes('Author')"
			></kendo-grid-column>
			<kendo-grid-column
				field="title"
				title="Title"
				[hidden]="!visibleColumns.includes('Title')"
			></kendo-grid-column>
			<kendo-grid-column
				field="genre"
				title="Genre"
				[hidden]="!visibleColumns.includes('Genre')"
			></kendo-grid-column>
			<kendo-grid-column
				field="price"
				title="Price"
				[hidden]="!visibleColumns.includes('Price')"
			></kendo-grid-column>
			<kendo-grid-column
				field="publishDate"
				title="Publish Date"
				[hidden]="!visibleColumns.includes('Publish Date')"
			></kendo-grid-column>
			<kendo-grid-column
				title="Description"
				[hidden]="!visibleColumns.includes('Description')"
			>
				<ng-template kendoGridCellTemplate let-dataItem>
					<button
						mat-icon-button
						color="primary"
						aria-label="Description"
						(click)="displayDescription(dataItem)"
					>
						<mat-icon>description</mat-icon>
					</button>
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column
				title="Delete"
				[hidden]="!visibleColumns.includes('Delete')"
			>
				<ng-template kendoGridCellTemplate let-dataItem>
					<button
						mat-icon-button
						color="primary"
						aria-label="Delete Book"
						(click)="deleteBook(dataItem)"
					>
						<mat-icon style="color: red">delete_forever</mat-icon>
					</button>
				</ng-template>
			</kendo-grid-column>
		</kendo-grid>
	</div>
</div>
